In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
credit=pd.read_csv("/content/creditcard.csv")

In [3]:
credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
credit.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
credit['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
#very unbalanced data as 99% belongs to only one class
legit=credit[credit['Class']==0]
fraud=credit[credit['Class']==1]

In [10]:
print(legit)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284315 rows x 31 columns]

Under Sampling

In [11]:
legit_sample=legit.sample(n=492)

In [12]:
legit_sample.shape

(492, 31)

In [17]:
data=pd.concat([fraud,legit_sample],axis=0)

In [18]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [19]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
15910,27345.0,-0.967586,1.229739,0.924971,-0.482851,1.413775,0.342435,1.191268,-0.130786,-0.494126,...,-0.629976,-1.600549,-0.337541,-1.467105,0.623373,-0.844215,0.047728,-0.146195,30.00,0
91632,63563.0,0.950597,0.351744,0.675514,2.147938,0.648756,1.822655,-0.309018,0.643004,-1.018180,...,-0.075982,-0.186647,0.257248,-1.076612,-0.096487,-0.154744,0.060631,0.004197,5.70,0
249748,154560.0,1.662288,-0.895353,-1.834654,0.309148,1.797042,4.023695,-0.927106,1.011307,0.724740,...,0.311787,0.607646,0.047731,0.694910,-0.103708,-0.556654,0.048918,-0.010723,152.60,0
237898,149444.0,-0.953991,-1.340950,1.547737,-3.421693,-1.131794,0.564155,-0.447063,0.284165,-1.472161,...,-0.062735,0.205365,0.371852,0.270169,-0.201132,-0.435594,0.115276,0.048508,135.00,0
179482,124097.0,1.823364,-0.667529,-0.153374,0.490610,-0.614603,0.485762,-0.792032,0.275083,1.479345,...,-0.140513,-0.202633,0.318252,0.695393,-0.369684,-0.600536,0.045308,-0.026365,49.72,0

In [20]:
data.shape

(984, 31)

In [21]:
data['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [22]:
data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94053.294715,0.105477,0.034040,-0.011609,0.067002,-0.037734,0.013601,-0.036507,0.094183,-0.079683,...,-0.016549,0.004473,-0.006176,-0.014193,0.010693,0.012386,0.032247,-0.003113,-0.008691,80.645346
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [44]:
X=data.drop(columns='Class')
Y=data['Class']
print(X)
print(Y)
X_train, X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

            Time        V1        V2        V3        V4        V5        V6  \
541        406.0 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623        472.0 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920      4462.0 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788
6108      6986.0 -4.397974  1.358367 -2.592844  2.679787 -1.128131 -1.706536
6329      7519.0  1.234235  3.019740 -4.304597  4.732795  3.624201 -1.357746
...          ...       ...       ...       ...       ...       ...       ...
15910    27345.0 -0.967586  1.229739  0.924971 -0.482851  1.413775  0.342435
91632    63563.0  0.950597  0.351744  0.675514  2.147938  0.648756  1.822655
249748  154560.0  1.662288 -0.895353 -1.834654  0.309148  1.797042  4.023695
237898  149444.0 -0.953991 -1.340950  1.547737 -3.421693 -1.131794  0.564155
179482  124097.0  1.823364 -0.667529 -0.153374  0.490610 -0.614603  0.485762

              V7        V8        V9  ...       V20       V21       V22  \
541    -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623     0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477
4920    0.562320 -0.399147 -0.238253  ... -0.430022 -0.294166 -0.932391
6108   -3.496197 -0.248778 -0.247768  ... -0.171608  0.573574  0.176968
6329    1.713445 -0.496358 -1.282858  ...  0.009061 -0.379068 -0.704181
...          ...       ...       ...  ...       ...       ...       ...
15910   1.191268 -0.130786 -0.494126  ...  0.228431 -0.629976 -1.600549
91632  -0.309018  0.643004 -1.018180  ... -0.271246 -0.075982 -0.186647
249748 -0.927106  1.011307  0.724740  ...  0.129910  0.311787  0.607646
237898 -0.447063  0.284165 -1.472161  ... -0.569749 -0.062735  0.205365
179482 -0.792032  0.275083  1.479345  ... -0.107117 -0.140513 -0.202633

             V23       V24       V25       V26       V27       V28  Amount
541    -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623     1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00
4920    0.172726 -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93
6108   -0.436207 -0.053502  0.252405 -0.657488 -0.827136  0.849573   59.00
6329   -0.656805 -1.632653  1.488901  0.566797 -0.010016  0.146793    1.00
...          ...       ...       ...       ...       ...       ...     ...
15910  -0.337541 -1.467105  0.623373 -0.844215  0.047728 -0.146195   30.00
91632   0.257248 -1.076612 -0.096487 -0.154744  0.060631  0.004197    5.70
249748  0.047731  0.694910 -0.103708 -0.556654  0.048918 -0.010723  152.60
237898  0.371852  0.270169 -0.201132 -0.435594  0.115276  0.048508  135.00
179482  0.318252  0.695393 -0.369684 -0.600536  0.045308 -0.026365   49.72

[984 rows x 30 columns]
541       1
623       1
4920      1
6108      1
6329      1
         ..
15910     0
91632     0
249748    0
237898    0
179482    0
Name: Class, Length: 984, dtype: int64

In [34]:
X_train.shape

(787, 30)

In [35]:
X_test.shape

(197, 30)

In [36]:
model=LogisticRegression()

In [45]:
model.fit(X_train,Y_train)

LogisticRegression()

In [46]:
train_prediction=model.predict(X_train)
trainAccuracy=accuracy_score(train_prediction,Y_train)
print(trainAccuracy)

0.9364675984752223

In [47]:
test_prediction=model.predict(X_test)
testAccuracy=accuracy_score(test_prediction,Y_test)
print(testAccuracy)

0.9441624365482234