In [26]:
import numpy as np

Building Logistic Regression

In [33]:
class Logistic_Regression:

  def __init__(self,learningRate,no_of_iterations):
    self.learningRate=learningRate
    self.no_of_iterations=no_of_iterations

  

  def fit(self,X,Y):
    self.m,self.n=X.shape
    self.w=np.zeros(self.n)
    self.b=0
    self.X=X
    self.Y=Y
    for i in range(self.no_of_iterations):
        self.update_weight()
  def update_weight(self):
       #sigmoid function formula
       y_hat = 1/(1+np.exp(-(self.X.dot(self.w)+ self.b)))

       #building derivatives
       dw= (1/self.m) *np.dot(self.X.T,(y_hat - self.Y))
       db=(1/self.m)*np.sum(y_hat -self.Y)

       self.w=self.w -self.learningRate*dw
       self.b=self.b - self.learningRate*db

  def predict(self,X):
        Y_pred = 1 / (1 + np.exp( - (X.dot(self.w) + self.b ) ))     
        Y_pred = np.where( Y_pred > 0.5, 1, 0)
        return Y_pred

In [37]:
class Logistic_Regression():


  # declaring learning rate & number of iterations (Hyperparametes)
  def __init__(self, learning_rate, no_of_iterations):

    self.learning_rate = learning_rate
    self.no_of_iterations = no_of_iterations



  # fit function to train the model with dataset
  def fit(self, X, Y):

    # number of data points in the dataset (number of rows)  -->  m
    # number of input features in the dataset (number of columns)  --> n
    self.m, self.n = X.shape


    #initiating weight & bias value

    self.w = np.zeros(self.n)
    
    self.b = 0

    self.X = X

    self.Y = Y


    # implementing Gradient Descent for Optimization

    for i in range(self.no_of_iterations):     
      self.update_weights()



  def update_weights(self):

    # Y_hat formula (sigmoid function)

    Y_hat = 1 / (1 + np.exp( - (self.X.dot(self.w) + self.b ) ))    


    # derivaties

    dw = (1/self.m)*np.dot(self.X.T, (Y_hat - self.Y))

    db = (1/self.m)*np.sum(Y_hat - self.Y)


    # updating the weights & bias using gradient descent

    self.w = self.w - self.learning_rate * dw

    self.b = self.b - self.learning_rate * db


  # Sigmoid Equation & Decision Boundary

  def predict(self, X):

    Y_pred = 1 / (1 + np.exp( - (X.dot(self.w) + self.b ) ))     
    Y_pred = np.where( Y_pred > 0.5, 1, 0)
    return Y_pred

In [6]:
model=Logistic_Regression(0.01,1000)

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [5]:
diabetes_dataset=pd.read_csv("/content/diabetes.csv")

In [11]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
diabetes_dataset.shape

(768, 9)

In [14]:
input=diabetes_dataset.drop(columns='Outcome',axis=1)

In [15]:
input.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [16]:
outcomes=diabetes_dataset['Outcome']
outcomes.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

Standardizing the data ,i.e. making all data points in same range

In [17]:
scalar=StandardScaler()

In [18]:
scalar.fit(input)

StandardScaler()

In [19]:
standard_data=scalar.transform(input)

In [55]:
#splitting the dataset into training and test
X_train,X_test,Y_train,Y_test=train_test_split(input,outcomes,test_size=0.33,random_state=2)

In [56]:
classifier=Logistic_Regression(0.01,1000)

In [57]:
classifier.fit(X_train,Y_train)

In [58]:
modelResults=classifier.predict(X_train)
accuracy=accuracy_score(Y_train,modelResults)
print(accuracy)

0.6614785992217899

In [59]:
testResults=classifier.predict(X_test)
acc=accuracy_score(Y_test,testResults)
print(acc)

0.6062992125984252